.idea/

# Created by https://www.gitignore.io/api/jupyternotebooks
# Edit at https://www.gitignore.io/?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

Movie_review/Train.csv
Movie_review/Test.csv
Movie_review/Train.zip
Movie_review/Test.zip
# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

GAN/training_data_64_64.npy
GAN/training_data_64_64_LAG.npy
GAN/lag-dataset.zip
GAN/compressed_filename.zip


# End of https://www.gitignore.io/api/jupyternotebooks
